<link rel="stylesheet" href="assets/Bootstrap/css/bootstrap.min.css">
<div class="container">
  <h1 align="center">ESCUELA POLITECNICA NACIONAL</h1>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-form-label">
          Ingrese datos de la pasteleria :
        </label>
        <br>
        <input class="form-group"
               placeholder="Nombre de la panaderia"
               ngModel="nuevaPasteleria.nombre" type="text">
        <br>
        <input class="form-group"
               placeholder="Ciudad"
               ngModel="nuevaPasteleria.ciudad" type="text">
        <br>
        <input class="form-group"
               placeholder="Nombre de la panaderia"
               ngModel="nuevaPasteleria.nombre" type="text">
      </div>
      <button class="btn btn-primary" (click)="crearPasteleria()">Registrar</button>
      <div class="row">
        <div class="col-sm-3" *ngFor="let pasteleria of pastelerias">

        </div>
      </div>
    </div>
  </div>
</div>

