<link rel="stylesheet" href="assets/Bootstrap/css/bootstrap.css">


<div class="Panaderia" >

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="container">
        <div align="center">
          <H1>Escuela Politécnica Nacional </H1> <br>
          <H1>Examen-Tecnologas Web con JajaScript </H1>
          <br>
          <h2>Ejercicio Nº3 - Registro de panaderia</h2>
          <br>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <hr>


  <div class="row"  >
    <div class="container">
      <div align="center">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="form-group">
            <FONT FACE="impact" SIZE=7 COLOR="black">
              Datos de la panaderia </FONT> <br> <br>
            <div align="center">
              <div class="card" style="width: 20rem;  background-color: transparent" >
                <div class="card-block" style=" background-color: transparent">
                  <input class="form-control" style="background-color: transparent"
                         placeholder="Nombre"
                         [(ngModel)]="nuevaPasteleria.nombre" type="text"><br>
                  <input class="form-control" style="background-color: transparent"
                         placeholder="Ciudad"
                         [(ngModel)]="nuevaPasteleria.ciudad" type="text"><br>
                  <input class="form-control" style="background-color: transparent"
                         placeholder="Correo"
                         [(ngModel)]="nuevaPasteleria.correo" type="email">
                </div>
                <button class="btn btn-primary" (click)="crearPasteleria()">Registrar</button>
                <br>
                <img align="center" src="http://www.gifsanimados.org/data/media/1780/panadero-y-pastelero-imagen-animada-0016.gif" width="150" height="150" alt="Pasteleria">
              </div>
              <br><br>
            </div>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="row">
        <div class="col-sm-4" *ngFor="let pasteleria of pastelerias;let i = index;">
          <div class="card" style="width: 20rem; background-color: transparent">
            <div class="card-block">
              <img align="center" src="http://www.gifmania.com/Gif-Animados-Alimentos/Imagenes-Alimentos/Pan/Pan-De-Molde/Pan-De-Molde-50454.gif" width="150" height="150" alt="Pasteleria">
              <div class="card-title" style="font: oblique bold 200% fantasy" align="center"> {{pasteleria.nombre}}
                <div class="card-text" align="left">
                  <p class="Pan"> ID:  {{pasteleria.id}}<br></p>
                  <p class="Pan"> Ciudad: {{pasteleria.ciudad}}</p>
                  <p class="Pan"> Correo: {{pasteleria.correo}}</p>
                </div>
              </div>
              <div align="center">
              <button class="btn btn-danger" (click)="eliminarPasteleria(pasteleria.id,i)"> Eliminar</button>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
