<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
<div class="container">
  <h1>EXAMEN</h1>
  <h2>BIENVENIDOS</h2>
  <h2>Pasteleria</h2>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">

        <label class="col-form-label">
          Nombre Pasteleria:
        </label>
        <input class="form-control"
               placeholder="Ingrese nombre pasteleria nueva"
               [(ngModel)]="nuevaPasteleria.Nombre" type="text">
      </div>
      <button class="btn btn-primary" (click)="crearUsuario()">Crear Usuario</button>
      <button class="btn btn-primary" (click)="actualizarUsuario()">Actualizar Lista de Usuarios</button>
    </div>
  </div>
</div>
